<div class="container" style="margin-top: 25px">
  <% if user_signed_in? %>
      <%if current_user.status === "instructor" && current_user.id === @course.user.id  %>

          <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit Course '.html_safe, edit_course_path(@course), class: 'btn btn-warning btn-md' %>
          <span>  </span>
          <%= link_to '<i class="glyphicon glyphicon-remove"></i> Delete Course '.html_safe, @course ,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md' %>
      <% end %>
  <% end %>
  <div class="page-header page-heading">
    <h1 class="pull-left"><%= @course.title %></h1>
    <div class="clearfix">
    </div>
  </div>
  <p class="lead">This is the right place to discuss any ideas, critics, feature requests and all the ideas regarding our website. Please follow the forum rules and always check FAQ before posting to prevent duplicate posts.</p>
  <table class="table forum table-striped">
    <thead>
    <tr>
      <th class="cell-stat"></th>
      <th>
        <h3>Lectures</h3>
      </th>
      <th class="cell-stat text-center hidden-xs hidden-sm">Likes</th>
      <th class="cell-stat text-center hidden-xs hidden-sm">Comments</th>
      <th class="cell-stat-2x hidden-xs hidden-sm">Last Post</th>
    </tr>
    </thead>
    <tbody>
    <% @course.lectures.each do |lecture| %>
    <tr>
      <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
      <td>
        <h4> <%= link_to lecture.title, lecture %> <br><small>Some description</small></h4>
      </td>
      <td class="text-center hidden-xs hidden-sm"><a href="#">9 542</a></td>
      <td class="text-center hidden-xs hidden-sm"><a href="#">89 897</a></td>
      <td class="hidden-xs hidden-sm">by <%= link_to lecture.user.name %><br><small><i class="fa fa-clock-o"></i><%= lecture.created_at %></small></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <br>

  <% if user_signed_in? %>
      <%if current_user.status === "instructor" && current_user.id === @course.user.id  %>
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4 col-xs-offset-4">
              <%= link_to '<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a new Lecture '.html_safe, new_lecture_path(:c_id => @course.id), method: :post, class: 'btn btn-success btn-lg btn-block' %>
            </div>
          </div>
      <% end %>
  <% end %>

</div>
</div>
