<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user.name %>
</p>

<% if user_signed_in? %>
    <%if current_user.status === "instructor"  %>
        <div class="row">
          <div class="col-xs-offset-4 col-xs-4">
            <h3 align="center"> Ready to Create a Course ? </h3>
            <%= link_to '<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a new Lecture '.html_safe, new_course_path, class: 'btn btn-success btn-lg btn-block' %>
          </div>
        </div>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>


